version: '3'
services:
  rsshub:
    image: diygod/rsshub
    container_name: rsshub
    ports:
      - "1200:1200"
    environment:
      - NODE_ENV=production
      - CACHE_TYPE=redis
      - REDIS_URL=redis://redis:6379/
      - PUPPETEER_WS_ENDPOINT=ws://browserless:3000
    depends_on:
      - browserless
      - redis
    restart: unless-stopped
  browserless:
    image: browserless/chrome
    container_name: rsshub-browserless
    ports:
      - "3010:3000"
    restart: always
  redis:
    image: redis:alpine
    container_name: rsshub-redis
    restart: unless-stopped
